* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .housing{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
} */

.cir1 {
    width: 20vh;
    height: 20vh;
    background: linear-gradient(180deg, rgba(116, 0, 228, 0.94) 0%, rgba(0, 0, 239, 0.62) 100%);
    transform: rotate(-180deg);
    border-radius: 0 250px 0 0;
    top: 0px;
    right: 0px;
    position: absolute;
    z-index: -1;

    /* position: relative;
    float: right; */
}

.cir2 {
    width: 5vh;
    height: 5vh;
    background: linear-gradient(180deg, rgba(116, 0, 228, 0.94) 0%, rgba(0, 0, 239, 0.62) 100%);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 25%;
    left: 45%;
}

.cir3 {
    width: 30vh;
    height: 30vh;
    background: linear-gradient(180deg, rgba(116, 0, 228, 0.94) 0%, rgba(0, 0, 239, 0.62) 100%);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 60%;
}

.cir4 {
    width: 3vh;
    height: 3vh;
    background: linear-gradient(180deg, rgba(116, 0, 228, 0.94) 0%, rgba(0, 0, 239, 0.62) 100%);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 80%;
    left: 50%;
}

header {
    display: flex;
    margin: auto;
    width: 80%;
}

.container {
    display: flex;
}

.container .logo {
    margin-left: 5%;
    width: 20vh;
    height: 20vh;
}

.present {
    display: flex;
    width: 80%;
    margin: auto;
    min-height: 50vh;
    align-items: center;
}

.intro {
    flex: 1;
}

.intro .jumbotron h2 {
    font-size: 40px;
    font-weight: 500;
    font-family: montserrat;
}

.intro .jumbotron p {
    margin-top: 5px;
    font-size: 30px;
    margin-top: 5px;
    font-family: lora;
}

.cover {
    flex: 1;
    height: 50vh;
    position: relative;
}

.cover .img1 {
    width: 35vh;
    height: 25vh;
    position: absolute;
    top: 0%;
}

.cover .img2 {
    width: 35vh;
    height: 25vh;
    position: absolute;
    top: 25%;
    right: 20%;
    z-index: 3;
}

.cover .img3 {
    width: 35vh;
    height: 25vh;
    position: absolute;
    top: 30%;
    right: 60%;
    z-index: 2;
}

.cover .img4 {
    width: 30vh;
    height: 20vh;
    position: absolute;
    top: 60%;
    right: 30%;
    z-index: 5;
}

.cover .img5 {
    width: 30vh;
    height: 20vh;
    position: absolute;
    top: 70%;
    right: 60%;
    z-index: 4;
}

.footer {
    background: rgba(35, 0, 69, 0.94);
    position: relative;
    top: 20vh;
    height: 10vh;
    display: flex;
}

.footer .para2 {
    align-items: center;
    margin: auto;
    font-family: lora;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

@media screen and (max-width: 1024px) {
    .present {
        flex-direction: column-reverse;
    }

    .cir1 {
        width: 10vh;
        height: 10vh;
        /* position: absolute;
        float: right; */
    }

    .cir2 {
        height: 4vh;
        width: 4vh;
        top: 25%;
        left: 30%;
    }

    .cir3 {
        height: 15vh;
        width: 15vh;
        top: 35%;
        left: 50%;
    }

    .cir4 {
        height: 3vh;
        width: 3vh;
        top: 50%;
        left: 30%;
    }

    /* .nav {
        width: 50% ;
    } */
    header {
        display: flex;
        margin: auto;
        width:90%;
    }

    .container {
        display: flex;
    }

    .container .logo {
        /* margin-left: 5%; */
        width: 15vh;
        height: 15vh;
    }

    .present {
        display: flex;
        width: 90%;
        margin: auto;
        min-height: 40vh;
    }

    .intro {
        flex: 1;
    }

    .intro .jumbotron h2 {
        font-size: 20px;
        font-weight: 500px;
    }

    .intro .jumbotron p {
        font-size: 15px;
        margin-top: 5px;
    }

    .cover {
        display: none;
    }

    .footer{
        display: none;
    }
}