* {
    margin: 0;
    padding: 0;
    /* background-color: #ffffff; */
}
.housing{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}

.cir1 {
    width: 180px;
    height: 200px;
    background: linear-gradient(180deg, rgba(116, 0, 228, 0.94) 0%, rgba(0, 0, 239, 0.62) 100%);
    transform: rotate(-180deg);
    border-radius: 0 250px 0 0;
    position: relative;
    float: right;
}
.cir2{
    width:30px ;
    height:30px ;
    background:  linear-gradient(180deg, rgba(116, 0, 228, 0.94) 0%, rgba(0, 0, 239, 0.62) 100%);
    border-radius: 50%;
    position: absolute;
    top: 149px;
    left:720px;
    float:none;
}
.cir3{
    width: 250px;
    height: 250px;
    background:  linear-gradient(180deg, rgba(116, 0, 228, 0.94) 0%, rgba(0, 0, 239, 0.62) 100%);
    border-radius: 50%;
    position: absolute;
    top: 450px;
    left: 1000px;
    float:none;
}
.cir4{
    width: 30px;
    height: 30px;
    background:  linear-gradient(180deg, rgba(116, 0, 228, 0.94) 0%, rgba(0, 0, 239, 0.62) 100%);
    border-radius: 50%;
    position: absolute;
    top: 700px;
    left: 800px;
    float: none;
}

.nav {
    margin-left: 5%;
}

.nav .logo {
    width: 220px;
    height: 220px;
}

.jumbotron{
    margin-left: 6%;
}

.jumbotron .Head{
    height: 220px;
    width: 670px;
    position: static;
    font-family: montserrat;
    font-size: 60px;
    font-weight: 500px;
}
.jumbotron .para{
    width: 670px;
    height: 40px;
    position: static;
    font-family: lora;
    font-size: 30px;
}
.img1{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 105px;
    left: 835px;
}
.img2{
    width: 300px;
    height: 200px;
    position: absolute;
    top:223px ;
    left: 1037px;
    z-index: 3;
}
.img3{
    width: 300px;
    height: 225px;
    position: absolute;
    top:250px ;
    left: 745px;
    z-index: 2;
}
.img4{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 385px;
    left: 986px;
    z-index: 5;
}
.img5{
    width: 256px;
    height: 170px;
    position: absolute;
    top: 450px;
    left: 788px;
    z-index: 4;
}
.footer{
    display: flex;
    position: absolute;
    background: rgba(35, 0, 69, 0.94);
    height: 80px;
    top: 800px;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}
.footer .para2{
    padding-left: 6%;
    font-family: lora;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

@media screen and (max-width:1024px){
    .cir1 {
        width: 100px;
        height: 100px;
        background: linear-gradient(180deg, rgba(116, 0, 228, 0.94) 0%, rgba(0, 0, 239, 0.62) 100%);
        transform: rotate(-180deg);
        border-radius: 0 250px 0 0;
        position: absolute;
        left: 608px;
    }
    .cir2{
        background:  linear-gradient(180deg, rgba(116, 0, 228, 0.94) 0%, rgba(0, 0, 239, 0.62) 100%);
        border-radius: 50%;
        position: absolute;
        float:none;
        width: 23.55px;
        height: 24.51px;
        left: 400px;
        top: 100px;  
    }
    .cir3{
        background:  linear-gradient(180deg, rgba(116, 0, 228, 0.94) 0%, rgba(0, 0, 239, 0.62) 100%);
        border-radius: 50%;
        position: absolute;
        float:none;
        width: 111.98px;
        height: 115.82px;
        left: 500px;
        top: 300.2px;
    }
    .cir4{
        background:  linear-gradient(180deg, rgba(116, 0, 228, 0.94) 0%, rgba(0, 0, 239, 0.62) 100%);
        border-radius: 50%;
        position: absolute;
        float: none;
        width: 13.46px;
        height: 13.94px;
        left: 350px;
        top: 424.56px;  
    }
    .nav {
        margin-left: 6%;
    }
    
    .nav .logo {
        width: 100px;
        height: 100px;
    }
    .jumbotron{
        margin-left: 6%;
    }
    
    .jumbotron .Head{
        width: 299px;
        height: 111px;
        position: static;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        padding-right: 83px;
    }
    .jumbotron .para{
        width: 134px;
        height: 38px;
        position: static;
        font-family: Lora;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 19px;
        top: 616px;
    }
    .img1{
        position: absolute;
        width: 146.01px;
        height: 97.07px;
        left: 450px;
        top: 100px;
    }
    .img2{
        z-index: 3;
        position: absolute;
        width: 146.01px;
        height: 97.48px;
        left: 500px;
        top: 160px;
    }
    .img3{
        z-index: 2;
        position: absolute;
        width: 146.01px;
        height: 109.71px;
        left: 370px;
        top: 180px;
    }
    .img4{
        z-index: 5;
        position: absolute;
        width: 146.01px;
        height: 97.07px;
        left: 490px;
        top: 250px;
    }
    .img5{
        z-index: 4;
        position: absolute;
        width: 123.17px;
        height: 81.98px;
        left: 400px;
        top: 280px;  
    }
    .footer{
        display: flex;
        background: rgba(35, 0, 69, 0.94);
        height: 100px;
        justify-content: center;
        position: absolute;
        top: 450px;
    }
    .footer .para2{
        font-family: lora;
        color: #ffffff;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 19px;
    }
}